.btn-container {
  width: 100%;
  background-color: var(--white);
  text-align: right;
  padding: 1rem 2rem;
  transform: translateY(100%);
  display: flex;
  justify-content: end;
  align-items: center;
}
.btn-container.space-between {
  justify-content: space-between;
}
.btn-container-desktop {
  display: none;
}
button {
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--marine-blue);
  color: var(--white);
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  outline: none;
}
.go-back {
  border: none;
  outline: none;
  color: var(--cool-gray);
  background-color: transparent;
}

@media screen and (min-width: 800px) {
  .btn-container {
    transform: translate(0%, 0%);
    margin-top: 3rem;
  }
  .btn-container-desktop {
    display: flex;
    background-color: transparent;
    padding: 0.75rem 2rem;
    position: absolute;
    bottom: 0%;
    right: 0;
  }
  .btn-container-mobile {
    display: none;
  }
}
