.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 0.5rem;
}

@media screen and (min-width: 800px) {
  .app {
    width: clamp(500px, 90vw, 1000px);
    margin-inline: auto;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: var(--white);
  }
}
